<h1>
    {{titulo}}
</h1>
<input type="text" [(ngModel)]="titulo"/>
<br>
<h3>FORMULARIO NUEVO SUSHI</h3>
Nombre: <input type="text" [(ngModel)]="sushi.nombre">
{{sushi.nombre}} <br>
Tipo: <input type="text"  [(ngModel)]="sushi.tipo">
{{sushi.tipo}} <br>
Precio: <input type="text" [(ngModel)]="sushi.precio">
{{sushi.precio}} <br>
Vegano: <select type="text" [(ngModel)]="sushi.vegano">
    <option value="Si">Si</option>
    <option value="No">No</option>
</select>
{{sushi.vegano}} <br>
<button (click)="addSushi()">ADD SUSHI</button>

<ol>
    <li *ngFor='let sushi of sushis; let i = index'>
        Nombre:{{sushi.nombre}} <br>
        Tipo: {{sushi.tipo}} <br>
        Precio: {{sushi.precio}} <br>
        Apto para veganos: {{sushi.vegano}} <br>
        <button (click)="borraSushi(i)"> Borrar </button>
    </li>
</ol>
<h3>Selecciona els sushis Disponibles</h3>
Id sushi seleccionat {{sushiSelected}}
<select [(ngModel)]="sushiSelected">
    <option value="0" *ngFor='let sushi of sushis; let i = index' value="{{i}}">
        {{sushi.nombre}}
    </option>
</select>
<h3>Mostra els ingredients de cada sushi, esborra ingredients</h3>
Nombre: {{sushis[sushiSelected].nombre}} <br>
Tipo: {{sushis[sushiSelected].tipo}} <br>
Precio: {{sushis[sushiSelected].precio}} <br>
ingredients:
<span *ngFor="let ingredient of sushis[sushiSelected].ingredients; let i = index">
    {{ingredient}} <button (click)="borraIngredient(i)">Borrar</button>
</span>

<h3>Afegeix un ingredient</h3>
Nom ingredient <input type="text" [(ngModel)]="nouIngredient"/>
<button (click)="addIngredient();">ADD INGREDIENT</button>